<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong> THIS IS ME CHANGING THE NAME THEN DEPLOYING Name:</strong>
  <%= @widget.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @widget.description %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @widget.stock %>
</p>

<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>

</div>